<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>🛡️ Campus Safety</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/camera">Camera</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/alerts">Alerts</a></li>
        <li><a href="/location">Location</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>

<div class="container">

<h1>📖 About Our Project</h1>

<p>
The Smart AI Based Campus Safety System is an AI-powered web application developed to improve campus security.
</p>

<h2>Project Features</h2>

<ul style="text-align:left; display:inline-block;">
    <li>📹 Live Camera Monitoring</li>
    <li>🚨 Emergency SOS</li>
    <li>📍 Live Location</li>
    <li>📊 Admin Dashboard</li>
    <li>📞 Emergency Contacts</li>
    <li>📜 Alert History</li>
    <li>🤖 AI Person Detection (Future)</li>
</ul>

</div>

<footer>
    <p>© 2026 Smart AI Based Campus Safety System</p>
</footer>

</body>
</html>