<!DOCTYPE html>
<html>
<head>
    <title>Emergency Contacts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>🛡️ Campus Safety</h2>
</nav>

<div class="container">

<h1>📞 Emergency Contacts</h1>

<div class="card">
    <h3>👮 Security Office</h3>
    <p>+91 9876543210</p>
</div>

<div class="card">
    <h3>🚑 Ambulance</h3>
    <p>108</p>
</div>

<div class="card">
    <h3>👮 Police</h3>
    <p>100</p>
</div>

<div class="card">
    <h3>🔥 Fire Service</h3>
    <p>101</p>
</div>

</div>

</body>
</html>
<footer>

<p>
© 2026 Smart AI Based Campus Safety System
</p>

</footer>