<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>🛡️ Campus Safety</h2>
</nav>

<div class="container">

<h1>🔐 Login</h1>

<input type="text" placeholder="Enter Username"><br><br>

<input type="password" placeholder="Enter Password"><br><br>

<a href="/dashboard">
<button class="start-btn">
Login
</button>
</a>

</div>

</body>
</html>
<footer>

<p>
© 2026 Smart AI Based Campus Safety System
</p>

</footer>