<!DOCTYPE html>
<html>
<head>
    <title>Emergency Alert</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>🛡️ Campus Safety</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/camera">Camera</a></li>
    </ul>
</nav>

<div class="container">

<h1>🚨 Emergency Alert</h1>

<p style="font-size:25px;color:red;">
Emergency SOS Activated!
</p>

<button class="sos-btn">
Alert Sent Successfully
</button>

</div>

</body>
</html>
<footer>

<p>
© 2026 Smart AI Based Campus Safety System
</p>

</footer>